html {
    background: #fdff8e;
}

.head{
    background: #fdff8e;
    Position: sticky;
    top: 0;
}

h1 {
    margin-left: 40px;
    border-bottom: 6px solid #242424;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 30px;
    color: #000000; 
    background: #fdff8e;
}
