html {
    background: #a477b9;
}

h1 {
    margin-left: 40px;
    border-bottom: 2px dotted #ffffff;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 30px;
    color: #000000; 
    border-top: 10px solid #242424;
    background: #fdff8e;
}
